.head-container
  .head
  .mouth
  .tooth.left
  .tooth.right
  .eye.left
  .eye.right
  .iris.left
  .iris.right
  .pupil.left
  .pupil.right
  .shine.left
  .shine.right
.wrapper
  .circle.center
  .circle.one
  .circle.two
  .circle.three
  .circle.four
  .circle.five
  .circle.six
  .circle.seven
  .circle.eight
  .circle.nine
  .circle.cone
