$c1: #FFA03C;
$c2: #FFEB3B;

.head-container {
  display: flex;
  flex-direction : column;
  // align-items : center;
  // justify-content: center;
  top: 50%;
  left: 50%
}
.head {
  position: absolute;
  width: 100px;
  height: 120px;
  border-radius: 50% 50% 30% 30%;
  background: $c1;
}
.eye {
  position: absolute;
  width: 35px;
  height: 45px;
  border-radius: 50% 50% 10% 10%;
  background: white;
}
.eye.left {
  transform: translate(10px, 20px);
}
.eye.right {
  transform: translate(55px, 20px);
}
.iris {
  position: absolute;
  width: 30px;
  height: 45px;
  border-radius: 50% 50% 10% 10%;
  background: #0F507B;
}
.iris.left {
  transform: translate(15px, 20px);
}
.iris.right {
  transform: translate(55px, 20px);
}
.pupil {
  position: absolute;
  width: 20px;
  height: 30px;
  border-radius: 50%;
  background: #09294A;
}
.pupil.left {
  transform: translate(25px, 35px);
}
.pupil.right {
  transform: translate(65px, 35px);
}
.mouth {
  position: absolute;
  width: 60px;
  height: 25px;
  border-radius: 50% 50% 10% 10%;
  transform: rotate(180deg) translate(-20px, -85px);
  background: #FA5C35;
}
.tooth {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid white;
}
.tooth.left {
  transform: translate(25px, 85px);
}
.tooth.right{
  transform: translate(65px, 85px);
}
.shine {
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: white;
}
.shine.left {
  transform: translate(35px, 40px);
}
.shine.right {
  transform: translate(75px, 40px);
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.circle {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.center {
  position: absolute;
  transform: translate(0px, 0px);
  z-index: 1;
  background: $c1;
}
@keyframes lick-right {
  from { transform: translate(45px, -35px);     }
  to   { transform: translate(45px, -40px); }
}
.one {
  position: absolute;
  transform: translate(45px, -35px);
  background: $c1;
  animation: lick-right 1.5s ease infinite;
}
.two {
  position: absolute;
  transform: translate(70px, -70px);
  z-index: 1;
  background: white;
}
.three {
  position: absolute;
  transform: translate(80px, -15px);
  background: white;
}
@keyframes lick-middle {
  from { transform: translate(-45px, -50px);     }
  to   { transform: translate(-45px, -35px); }
}
.four {
  position: absolute;
  transform: translate(-45px, -50px);
  background: $c1;
  animation: lick-middle 2s ease infinite;
}
.five {
  position: absolute;
  transform: translate(-69px, -70px);
  background: white;
}
.six {
  position: absolute;
  transform: translate(-50px, 0px);
  background: white;
}
@keyframes lick-left {
  from { transform: translate(-60px, -10px);     }
  to   { transform: translate(-60px, -15px); }
}
.seven {
  position: absolute;
  transform: translate(-60px, -10px);
  background: $c1;
  animation: lick-left 1s ease infinite;
}
.eight {
  position: absolute;
  transform: translate(-90px, -30px);
  background: white;
}
.nine {
  position: absolute;
  transform: translate(-50px, 25px);
  background: white;
}
.cone {
  position: absolute;
  height: 40px;
  width: 40px;
  transform: translate(0px, 0px) rotate(45deg);
  border-radius: 0 50% 50% 50%;
  background: $c2;
  z-index: 2;
}
