$c1: #FFA03C;
$c2: #FFEB3B;
$c3: #F3DC80;
$c4: #FA5C35;
$c5: #E1F8FE;
body {
  background: $c5;
}
.head-container {
  display: flex;
  flex-direction : column;
  align-items : center;
  justify-content: center;
  margin-top: 200px;
}
.head {
  position: absolute;
  width: 100px;
  height: 120px;
  border-radius: 50% 50% 30% 30%;
  background: $c1;
}
.eye {
  position: absolute;
  width: 35px;
  height: 45px;
  border-radius: 50% 50% 10% 10%;
  background: white;
}
.eye.left {
  transform: translate(-20px, -10px);
}
.eye.right {
  transform: translate(25px, -10px);
}
.iris {
  position: absolute;
  width: 30px;
  height: 45px;
  border-radius: 50% 50% 10% 10%;
  background: #0F507B;
}
.iris.left {
  transform: translate(-15px, -10px);
}
.iris.right {
  transform: translate(30px, -10px);
}
.pupil {
  position: absolute;
  width: 20px;
  height: 30px;
  border-radius: 50%;
  background: #09294A;
}
.pupil.left {
  transform: translate(-10px, -15px);
}
.pupil.right {
  transform: translate(35px, -15px);
}
.mouth {
  position: absolute;
  width: 60px;
  height: 25px;
  border-radius: 50% 50% 10% 10%;
  transform: rotate(180deg) translate(0px, -40px);
  background: $c4;
}
.tooth {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid white;
}
.tooth.left {
  transform: translate(-20px, 32px);
}
.tooth.right{
  transform: translate(20px, 32px);
}
.shine {
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: white;
}
.shine.left {
  transform: translate(-5px, -20px);
}
.shine.right {
  transform: translate(40px, -20px);
}
.outer {
  position: absolute;
  width: 120px;
  height: 160px;
  border-radius: 90% 90% 50% 50%;
  background: $c1;
  transform: translate(0px, 120px);
  z-index: -1;
}
.inner {
  position: absolute;
  width: 80px;
  height: 140px;
  border-radius: 90% 90% 50% 50%;
  background: $c3;
  transform: translate(0px, 130px);
}
.arm {
  position: absolute;
  width: 35px;
  height: 100px;
  background: $c1;
  border-radius: 50% 50% 20% 20%;
}
.arm.left {
  transform: rotate(345deg) translate(-75px, 40px);
}
.arm.right {
  transform: rotate(15deg) translate(75px, 40px);
}
.finger {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 14px solid $c1;
}
.finger.left_left {
  transform: translate(-85px, 15px) rotate(120deg);
}
.finger.left_middle {
  transform: translate(-75px, 5px) rotate(170deg);
}
.finger.left_right {
  transform: translate(-62px, 10px) rotate(220deg);
}
.finger.right_left {
  transform: translate(60px, 11px) rotate(140deg);
}
.finger.right_middle {
  transform: translate(75px, 5px) rotate(190deg);
}
.finger.right_right {
  transform: translate(85px, 15px) rotate(240deg);
}
.leg {
  position: absolute;
  width: 40px;
  height: 70px;
  background: $c1;
  border-radius: 50%;
}
.leg.left {
  transform: translate(-40px, 200px) rotate(340deg);
}
.leg.right {
  transform: translate(40px, 200px) rotate(20deg);
}
.foot {
  position: absolute;
  width: 50px;
  height: 20px;
  background: $c1;
  border-radius: 50%;
}
.foot.left {
  transform: translate(-42px, 230px);
}
.foot.right {
  transform: translate(42px, 230px);
}
.tail-circle {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.tail-circle.uno {
  position: absolute;
  transform: translate(-60px, 110px);
  background: $c1;
  z-index: -2;
}
.tail-circle.dos {
  position: absolute;
  transform: translate(-50px, 80px);
  background: $c5;
  z-index: -2;
}
.flame {
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 0 50% 50% 50%;
  background: $c2;
  z-index: 2;
  transform: translate(-130px, 70px)  rotate(45deg);
}
@keyframes wiggle {
  0% { transform: translate(-130px, 70px) rotate(45deg); }
  50% { transform: translate(-130px, 70px) rotate(35deg); }
  100% { transform: translate(-130px, 70px) rotate(40deg); }
}
.flame.outer {
  animation: wiggle 0.2s infinite;
}
.flame.inner {
  height: 20px;
  width: 20px;
  background: #DC0000;
  z-index: 3;
  animation: wiggle 0.2s infinite;
}
.campfire {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translate(300px, 150px);
}
.circle {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.center {
  position: absolute;
  transform: translate(0px, 0px);
  z-index: 1;
  background: $c1;
}
@keyframes lick-right {
  from { transform: translate(45px, -35px);     }
  to   { transform: translate(45px, -40px); }
}
.one {
  position: absolute;
  transform: translate(45px, -35px);
  background: $c1;
  animation: lick-right 1.5s ease infinite;
}
.two {
  position: absolute;
  transform: translate(70px, -70px);
  z-index: 1;
  background: $c5;
}
.three {
  position: absolute;
  transform: translate(80px, -15px);
  background: $c5;
}
@keyframes lick-middle {
  from { transform: translate(-45px, -50px);     }
  to   { transform: translate(-45px, -35px); }
}
.four {
  position: absolute;
  transform: translate(-45px, -50px);
  background: $c1;
  animation: lick-middle 2s ease infinite;
}
.five {
  position: absolute;
  transform: translate(-69px, -70px);
  background: $c5;
}
.six {
  position: absolute;
  transform: translate(-50px, 0px);
  background: $c5;
}
@keyframes lick-left {
  from { transform: translate(-60px, -10px);     }
  to   { transform: translate(-60px, -15px); }
}
.seven {
  position: absolute;
  transform: translate(-60px, -10px);
  background: $c1;
  animation: lick-left 1s ease infinite;
}
.eight {
  position: absolute;
  transform: translate(-90px, -30px);
  background: $c5;
}
.nine {
  position: absolute;
  width: 100px;
  height: 80px;
  border-radius: 50%;
  transform: translate(-50px, 25px);
  background: $c5;
}
.cone {
  position: absolute;
  height: 40px;
  width: 40px;
  transform: translate(0px, 0px) rotate(45deg);
  border-radius: 0 50% 50% 50%;
  background: $c2;
  z-index: 2;
}
.log {
  width: 100px;
  height: 20px;
  background: #734021;
  border-radius: 30%;
}
.log.left {
  transform: translate(0px, 60px) rotate(10deg);
}
.log.right {
  transform: translate(0px, 40px) rotate(350deg);
}
.grass {
  width: 100%;
  height: 300px;
  margin-top: 200px;
  background: #40A227;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
$size: 20px;
.pokeball {
  position: absolute;
  width: $size * 2;
  height: $size;
  border: 0.1em solid black;
}
.pokeball.red {
  background: #DC0000;
  border-top-left-radius: $size * 2;
  border-top-right-radius: $size * 2;
  transform: translate(110px, 210px);
}
.pokeball.white {
  background: white;
  border-bottom-left-radius: $size * 2;
  border-bottom-right-radius: $size * 2;
  transform: translate(110px, 230px);
}
.poke_circle {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
  transform: translate(110px, 220px);
  border: 0.1em solid black;
  z-index: 1;
}
